.box1{
    background-color: #446981;
    height: 120px;
}

.redes{
     font-size: 60px !important;
     color: lightgrey;
}

.box2{
    background-color: #00263e; 
    height: 40px;
}

.textos{
    color: lightgrey;
}